<!-- Content Header (Page header) -->
<div>
    <div ng-show="spinnerMessages">
        <div class="overlays"></div>
    </div>
    <section class="content-header">
        <h1>
            Mis Mensajes
        </h1>
    </section>

<!-- Main content  -->
    <section class="content">
        <div ng-if="alertError" class="alert alert-warning text-center" style="background-color: rgba(221, 75, 57, 0.87) !important;padding: 7px; border-color: #e33b3b;">
            <h4><i class="icon fa fa-warning"></i>  {{messageAlert}}</h4>
        </div>
        <div ng-if="!alertError">
            <div class="box-body">
                <ul class="todo-list ui-sortable">
                    <li  class="todo-list ui-sortable" ng-repeat="message in messages.data" ng-click="setSelectedMessage(message.id)" ng-class="{'message-read': message.state == true,'message-unread': message.state==false}" data-toggle="modal" data-target="#myModal{{message.id}}">
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            {{message.idUserOrigin.userName}}
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            {{message.message}}
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4 pull-right">
                            {{message.dateSent*1000| date:'medium' }}
                            <div class="tools">
                                <i ui-sref="createMessage" class="fa fa-reply"></i>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>