
    <section class="content-header">
        <h1>
            Crear Mensaje
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-2 col-sm-2"></div>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="box box-danger">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <form role="form" ng-submit="createMessage()">
                            <div class="row">
                                <div class="form-group col-md-4 col-sm-4 col-xs-12">
                                    <label>Para:</label>
                                    <input type="text" class="form-control" ng-model="UserDestination" placeholder="Nombre de usuario" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Mensaje:</label>
                                <input type="text" class="form-control" ng-model="mensaje" placeholder="Ingresa tu mensaje..." required>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-9 col-sm-9">
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                   <button  class="btn btn-danger btn-block btn-flat"> <i class="fa fa-paper-plane" aria-hidden="true"></i>  Enviar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div ng-if="alertError" class="alert alert-warning text-center" style="background-color: rgba(221, 75, 57, 0.87) !important;padding: 7px; border-color: #e33b3b;">
                    <h4><i class="icon fa fa-warning"></i>  {{messageAlert}}</h4>
                </div>
                <div ng-if="alertSucces" class="alert alert-success text-center">
                    <h4><i class="icon fa fa-info"></i>  {{messageAlert}}</h4>
                </div>
            </div>
            <div class="col-md-2 col-sm-2"></div>
        </div>
    </section>