<div class="login-box">
    <div class="login-logo">
        <b>Message</b>-Play
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">Introduce tus datos para iniciar sesión</p>
        <form name="form" ng-submit="login()">
            <div class="form-group has-feedback">
                <input type="tel" class="form-control" ng-model="userName" placeholder="Nombre de Usuario" required>
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="row">
                  <div class="col-md-3 col-sm-3">
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <button  class="btn btn-danger btn-block btn-flat">Entrar</button>
                  </div>
                  <div class="col-md-3 col-sm-3">
                  </div>
            </div>
        </form>
        <br>
        <a ui-sref="register" class="text-center">Registrarme en Message-Play</a>
    </div>
    <!-- /.login-box-body -->
    <br>
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-danger" ng-if="alertError">
                <button class="close" data-dismiss="alert"><span>&times;</span></button>
                <strong>Error:</strong> {{messageAlert}}
            </div>
        </div>
    </div>
</div>
<!-- /.login-box -->