<div class="register-box">
    <div class="register-logo">
        <b>Message</b>-Play
    </div>

    <div class="register-box-body">
        <p class="login-box-msg">Registro de Usuario</p>
        <form ng-submit="userCreate()">
            <div class="form-group has-feedback">
                <input class="form-control" ng-model="userName" placeholder="Nombre de usuario" type="text" required>
                <span class="glyphicon glyphicon-user  form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3">
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <button  class="btn btn-primary btn-block btn-flat">Registrar</button>
                </div>
                <div class="col-md-3 col-sm-3">
                </div>
            </div>
        </form>
        <br>
        <a ui-sref="login" class="text-center">Actualmente ya estoy Registrado</a>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-danger" ng-if="alertError">
                <button class="close" data-dismiss="alert"><span>&times;</span></button>
                <strong>Error:</strong>{{messageAlert}}
            </div>
        </div>
    </div>
    <!-- /.form-box -->
    <div id="mymodal" name="mymodal" class="modal fade"  data-backdrop="static" style="position: fixed" role="dialog" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-center">Información</h4>
                </div>
                <div class="modal-body text-center">
                    <p>Usuario creado correctamente.</p>
                    <p>Bienvenido a <b>Message</b>-play</p>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="goToMessage()" class="btn btn-primary center-block" data-backdrop="false" data-dismiss="modal">OK</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>
<!-- /.register-box -->