

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- Sidebar user panel (optional) -->
      <div class="user-panel" ng-controller="MessageController">
        <div class="pull-left image">
          <img src="images/avatar.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{{userName}}</p>
          <!-- Status -->
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <li class="header">MENU</li>
        <!-- Optionally, you can add icons to the links -->
        <li ><a ui-sref="message"><i class="fa fa-commenting"></i> <span>Mensajes</span></a></li>
        <li ><a ui-sref="createMessage"><i class="fa fa-pencil"></i> <span>Crear Mensaje</span></a></li>

      </ul>
      <!-- /.sidebar-menu -->
    </section>